@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
  line-height: normal;
  overflow-x: hidden;
}

.header__wrapper,
main,
.footer__wrapper {
  margin: auto;
  max-width: 1200px;
  flex: 1;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact-icon {
  height: 104px;
}
.header__contact-telephone {
  font-size: 1.75rem;
  color: #47754c;
}
.header__logo-image {
  height: 72px;
}
.header__nav-link {
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(72, 72, 72);
  transition: color 0.3s ease;
}
.header__nav-link:hover {
  color: #4e8154;
}
.header__nav-list {
  display: flex;
  gap: 18px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 13px 0;
}
.header__decorative-line {
  width: 100%;
  height: 12px;
  background-color: rgb(105, 164, 112);
}

.hero {
  margin-bottom: 50px;
}
.hero__wrapper {
  width: 100%;
  margin-bottom: 16px;
}
.hero__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  padding: 0 6px 0 6px;
  gap: 10px;
}
.hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__card {
  display: flex;
  flex-direction: column;
}
.hero__card-button {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  cursor: pointer;
}
.hero__card-button img {
  width: 20px;
}
.hero__card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero__card-description {
  display: flex;
  align-items: end;
  height: 100%;
}
.hero__card-image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}
.hero__card-subtitle {
  text-transform: uppercase;
  color: #4e8154;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}
.hero__card-text {
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.hero__card-link {
  text-decoration: none;
  color: #5c5c5c;
}

.content {
  display: flex;
  margin-bottom: 85px;
  scroll-margin-top: 180px;
}
.content a {
  color: #4e8154;
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-word;
  display: inline;
  max-width: 100%;
}
.content strong {
  font-weight: bold;
}
.content__main {
  flex: 3;
  padding-right: 50px;
  text-align: justify;
}
.content__list {
  list-style: disc;
  padding-left: 40px;
  margin: 16px 0;
}
.content__list--numbered {
  list-style: decimal;
}
.content__list-item ul {
  list-style: disc;
}
.content__list-item--circle {
  margin-left: 40px;
  list-style-type: circle;
}
.content__subheading {
  scroll-margin-top: 150px;
  font-weight: bold;
}
.content__subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #47754c;
}
.content__text {
  margin-bottom: 16px;
}
.content__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 21px 0;
}
.content__sidebar {
  flex: 1;
}
.content__sidebar-features, .content__sidebar-services {
  background-color: #fdfdfd;
}
.content__sidebar-services {
  position: relative;
}
.content__sidebar-services::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content__sidebar-heading {
  background-color: #4e8154;
  color: #fff;
  padding: 14px 22px 10px 22px;
  text-transform: uppercase;
  font-size: 1.25rem;
  position: relative;
}
.content__sidebar-heading--reverse {
  background-color: #f4f4f4;
  color: #47754c;
}
.content__sidebar-heading--reverse::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content__sidebar-list {
  padding: 30px 22px 26px 22px;
  line-height: 28px;
}
.content__sidebar-list-item {
  text-transform: uppercase;
}
.content__sidebar-list-item--bold {
  font-weight: bold;
}
.content__sidebar-list-item--underline {
  padding: 7px 0;
  position: relative;
}
.content__sidebar-list-item--underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}

.brands {
  display: flex;
  margin-bottom: 85px;
}
.brands__image {
  height: 50px;
}
.brands__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact {
  padding: 0 30px;
  width: 100%;
  margin-bottom: 120px;
  box-sizing: border-box;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.contact__form {
  max-width: 630px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 25px;
  box-sizing: border-box;
}
.contact__form-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  color: #5c5c5c;
  margin-top: 18px;
  font-size: 1rem;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f8f8f8, #e2e2e2);
}
.contact__form-field {
  display: flex;
  margin-bottom: 12px;
}
.contact__form-input {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  height: 38px;
  width: 100%;
}
.contact__form-label {
  width: 25%;
}
.contact__form-textarea {
  width: 100%;
  padding: 5px 0 0 5px;
  border: 1px solid #e6e6e6;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contact__info {
  max-width: 410px;
  width: 100%;
  padding: 25px 45px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.contact__info-email {
  color: #4e8154;
  overflow-wrap: break-word;
  word-break: break-word;
  display: block;
}
.contact__info-label {
  margin-top: 18px;
}
.contact__info-phone {
  font-size: 1.75rem;
  font-weight: bold;
  color: #47754c;
}
.contact__info-text {
  margin-top: 38px;
}
.contact__info-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.contact__title {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  margin: 20px 0;
}
.contact__title-image {
  display: block;
  width: 34px;
  height: auto;
}
.contact__title-text {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0.7;
  color: #47754c;
}

.footer {
  width: 100%;
}
.footer__link {
  text-decoration: none;
  color: #5c5c5c;
  margin-left: 20px;
  position: relative;
  text-decoration: underline;
  z-index: 1;
}
.footer__link::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: -1;
  pointer-events: none;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  padding: 95px 0 30px;
}
.footer__decorative-line {
  width: 100%;
  height: 8px;
  background-color: rgb(105, 164, 112);
}

.article {
  padding: 0 30px;
  margin-top: 50px;
}
.article__container {
  display: flex;
  justify-content: space-between;
}
.article__image {
  width: 280px;
  margin-right: 90px;
  height: auto;
}
.article__text {
  font-size: 1.25rem;
}
.article__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4e8154;
  margin-bottom: 18px;
}

@media (max-width: 1280px) {
  .header {
    position: relative;
  }
  .header__wrapper {
    flex-direction: column;
    gap: 12px;
  }
  .content {
    scroll-margin-top: 0px;
    padding: 0 10px;
  }
  .content__subheading {
    scroll-margin-top: 0px;
  }
  .brands__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .content__main {
    padding: 0;
  }
  .content__sidebar {
    display: none;
  }
  .contact__wrapper {
    flex-direction: column-reverse;
  }
  .contact__info {
    max-width: 100%;
  }
  .contact__form {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 21px;
  }
  .header__nav-link {
    font-size: 1.5rem;
  }
  .hero__image {
    display: none;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 30px;
  }
  .hero__card-image {
    height: 300px;
  }
  .hero__card-description {
    justify-content: space-between;
  }
  .hero__card-button {
    padding: 15px;
  }
  .hero__card-button img {
    width: 25px;
  }
  .content {
    padding: 0;
  }
  .content__main {
    padding: 0 30px;
  }
  .content__sidebar {
    display: none;
  }
  .article__title {
    text-align: center;
  }
  .article__container {
    gap: 30px;
    flex-direction: column;
  }
  .article__image {
    margin: 0 auto;
    width: auto;
    max-height: 300px;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
  }
  .footer__link {
    margin-left: 0;
  }
  .footer__link::after {
    display: none;
  }
}
@media (max-width: 640px) {
  .header__nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .brands {
    padding: 0 30px;
  }
  .brands__wrapper {
    gap: 20px;
  }
  .contact {
    margin-bottom: 60px;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px 10px;
  }
  .contact__form-label {
    width: 100%;
    margin-bottom: 6px;
  }
  .contact__info-email {
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
  }
  .contact__form-field {
    flex-direction: column;
  }
  .footer {
    text-align: center;
  }
}/*# sourceMappingURL=global.css.map */