@use "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-color: rgb(105, 164, 112);
$primary-dark: darken($primary-color, 16%);
$primary-light: darken($primary-color, 12%);
$secondary-color: rgb(72, 72, 72);
$text-color: #5c5c5c;
$bg-aside: #fdfdfd;
$bg-featured: #f4f4f4;
$border-color: #e6e6e6;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $text-color;
  line-height: normal;
  overflow-x: hidden;
  &.menu-open {
    overflow: hidden;
  }
}

.header__wrapper,
main,
.footer__wrapper {
  margin: auto;
  max-width: 1200px;
  flex: 1;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  &__contact {
    display: flex;
    align-items: center;
  }
  &__contact-icon {
    height: 96px;
  }
  &__contact-telephone {
    font-size: 1.75rem;
    color: $primary-dark;
  }
  &__logo-image {
    height: 72px;
  }
  &__logo-link {
    display: flex;
    align-items: center;
  }
  &__nav {
  }
  &__nav-item {
  }
  &__nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
    text-decoration: none;
    color: $secondary-color;
    transition: color 0.3s ease;
    &:hover {
      color: $primary-light;
    }
  }
  &__nav-list {
    display: flex;
    gap: 18px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0 13px 0;
  }
  &__decorative-line {
    width: 100%;
    height: 12px;
    background-color: $primary-color;
  }
  &__burger {
    display: none;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    background-color: $primary-color;
  }
  &__menu {
    position: fixed;
    top: 0;
    left: -72%;
    width: 72%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    transition: left 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    box-sizing: border-box;
    &.active {
      left: 0;
    }
    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    z-index: 999;
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}

.hero {
  margin-bottom: 50px;
  &__wrapper {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    padding: 0 6px 0 6px;
    gap: 10px;
    &--mobile {
      display: none;
    }
  }
  &__image {
    width: 100%;
    height: 285px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--mobile {
      display: none;
      height: 536px;
    }
  }
  &__banner {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    padding: 16px 32px;
    max-width: 475px;
    background-color: $primary-light;
    &-text {
      color: white;
      font-weight: 500;
      font-size: 1.375rem;
      line-height: 1.625rem;
    }
    &--mobile {
      display: none;
    }
  }
  &__button {
    max-width: 360px;
    width: 100%;
    height: auto;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: 24px 16px;
    color: white;
    background-color: $primary-light;
    font-size: 1.375rem;
    border-radius: 999px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      gap: 8px;
    }
    &-icon {
      width: 32px;
      height: 32px;
    }
    &-text {
    }
    &-telephone {
    }
    &.fixed {
      position: fixed;
      bottom: 16px;
      left: 0;
      right: 0;
      margin-inline: auto;
      z-index: 1000;
      animation: fade-in 0.3s ease-in-out;
    }
    &.hidden {
      display: none;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    &-button {
      display: flex;
      height: fit-content;
      width: fit-content;
      padding: 11px;
      border: 1px solid $border-color;
      background-color: #fff;
      cursor: pointer;
      img {
        width: 20px;
      }
    }
    &-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &-description {
      display: flex;
      align-items: end;
      height: 100%;
    }
    &-image {
      width: 100%;
      height: 160px;
      object-fit: cover;
      margin-bottom: 16px;
    }
    &-subtitle {
      text-transform: uppercase;
      color: $primary-light;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.25rem;
    }
    &-text {
      text-transform: uppercase;
      width: fit-content;
    }
    &-link {
      text-decoration: none;
      color: $text-color;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  display: flex;
  margin-bottom: 85px;
  scroll-margin-top: 180px;
  a {
    color: $primary-light;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    display: inline;
    max-width: 100%;
  }

  strong {
    font-weight: bold;
  }

  &__main {
    flex: 3;
    padding-right: 50px;
  }

  &__article {
  }

  &__list {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 8px;
    &--numbered {
      list-style: decimal;
    }
  }

  &__list-item {
    ul {
      list-style: disc;
    }

    &--circle {
      margin: 4px 0 6px 40px;
      list-style-type: circle;
    }
  }

  &__subheading {
    line-height: 36px;
    font-weight: bold;
    scroll-margin-top: 180px;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 20px 0;
    color: $primary-dark;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 21px 0;
  }

  &__why-choose {
    display: flex;
    width: 100%;
    margin: 40px 0 40px 0;
  }

  &__our-services {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    scroll-margin-top: 180px;
  }

  &__makes-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
  }

  &__sidebar {
    flex: 1;

    &-image {
      margin-top: 30px;
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    &-features,
    &-services {
      background-color: $bg-aside;
    }

    &-services {
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $border-color;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-heading {
      background-color: $primary-light;
      color: #fff;
      padding: 14px 22px 10px 22px;
      text-transform: uppercase;
      font-size: 1.25rem;
      position: relative;

      &--reverse {
        background-color: $bg-featured;
        color: $primary-dark;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $border-color;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    &-list {
      padding: 30px 22px 26px 22px;
      line-height: 28px;

      &-item {
        text-transform: uppercase;
        list-style: disc;
        &--bold {
          font-weight: bold;
          line-height: 32px;
        }

        &--underline {
          list-style: disc;
          padding: 7px 0;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $border-color;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.why-choose {
  &__card {
    border: 1px solid $bg-featured;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__card-container {
    padding: 8px 12px;
  }
  &__card-description {
  }
  &__card-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
  &__card-icon {
    width: 32px;
    height: 32px;
  }
  &__card-title {
    color: $primary-light;
    font-weight: bold;
    font-size: 1.125rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 18px;
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $bg-featured;
    margin: 0 auto;
    border-radius: 8px;
  }
  &__image {
    max-height: 312px;
    width: auto;
  }
  &__title {
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 24px;
  }
  &__wrapper {
    max-width: 578px;
  }
}

.our-services {
  &__container {
  }
  &__icon {
    width: 42px;
    height: 42px;
  }
  &__icon-wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: 1px solid $bg-featured;
    border-radius: 8px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__list-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__service-description {
  }
  &__service-title {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 8px;
  }
  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 24px;
  }
}

.makes-us {
  &__description {
    text-align: center;
  }
  &__icon {
    width: 42px;
    height: 42px;
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid $bg-featured;
    border-radius: 8px;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    width: 56px;
    height: 56px;
  }
  &__list {
    display: flex;
    gap: 16px;
  }
  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 12px 16px 12px;
    width: 25%;
    background-color: $bg-featured;
    border-radius: 8px;
    position: relative;
  }
  &__subheading {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 10px;
  }
  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 48px;
  }
}

.brands {
  display: flex;
  margin-bottom: 85px;
  &__image {
    height: 50px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.contact {
  padding: 0 30px;
  width: 100%;
  margin-bottom: 120px;
  box-sizing: border-box;
  scroll-margin-top: 180px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__form {
    max-width: 630px;
    width: 100%;
    background-color: $bg-featured;
    padding: 25px;
    box-sizing: border-box;
    &-actions {
    }
    &-button {
      padding: 10px 20px;
      border-radius: 4px;
      border: 1px solid $border-color;
      color: $text-color;
      margin-top: 18px;
      font-size: 1rem;
      cursor: pointer;
      background-image: linear-gradient(to bottom, #f8f8f8, #e2e2e2);
    }
    &-field {
      display: flex;
      margin-bottom: 12px;
    }
    &-input {
      padding: 5px;
      font-size: 1rem;
      border: 1px solid $border-color;
      height: 38px;
      width: 100%;
    }
    &-label {
      width: 25%;
    }
    &-textarea {
      width: 100%;
      padding: 5px 0 0 5px;
      border: 1px solid $border-color;
      resize: none;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
    }
    &-response {
      margin-top: 15px;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  &__info {
    max-width: 410px;
    width: 100%;
    padding: 25px 45px;
    border: 1px solid $border-color;
    box-sizing: border-box;

    &-email {
      color: $primary-light;
      overflow-wrap: break-word;
      word-break: break-word;
      display: block;
    }

    &-label {
      margin-top: 18px;
    }
    &-phone {
      font-size: 1.75rem;
      font-weight: bold;
      color: $primary-dark;
    }
    &-text {
      margin-top: 38px;
    }
    &-title {
      font-size: 1.25rem;
      text-transform: uppercase;
      margin-bottom: 18px;
    }
  }
  &__title {
    display: flex;
    gap: 18px;
    align-items: flex-end;
    margin: 20px 0;

    &-image {
      display: block;
      width: 48px;
      height: auto;
    }

    &-text {
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 0.7;
      color: $primary-dark;
    }
  }
}

.footer {
  width: 100%;
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  padding: 24px 55px 70px 55px;
  &__text {
    text-transform: uppercase;
  }
  &__link {
    color: $text-color;
    margin-left: 20px;
    position: relative;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 1;
    color: white;
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 2px;
      background-color: $border-color;
      position: absolute;
      bottom: 0;
      left: -10px;
      z-index: -1;
      pointer-events: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__decorative-line {
    width: 100%;
    height: 8px;
    background-color: $primary-color;
  }
  &__company {
    margin: 0 auto;
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }
}

.article {
  padding: 0 16px;
  margin: 32px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__description {
  }

  &__image {
    width: 280px;
    margin-right: 90px;
    height: auto;
  }
  &__text {
    font-size: 1.25rem;
  }
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $primary-light;
    margin-bottom: 18px;
  }
}

.mobile {
  display: none;
  padding: 32px 16px;
  &__container {
  }
  &__icon {
    width: 42px;
    height: 42px;
  }
  &__icon-wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: 1px solid $bg-featured;
    border-radius: 8px;
  }
  &__image {
    max-height: 312px;
    width: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
    margin: 32px 0;
  }

  &__sidebar {
    flex: 1;

    &-image {
      margin-top: 30px;
      width: 100%;
      height: auto;
      border-radius: 8px;
      max-width: 300px;
    }

    &-features {
      position: relative;
      background-color: $bg-aside;
      margin: 32px 0;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $border-color;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-services {
      background-color: $bg-aside;
      margin-bottom: 32px;
    }

    &-heading {
      background-color: $primary-light;
      color: #fff;
      padding: 14px 22px 10px 22px;
      text-transform: uppercase;
      font-size: 1.25rem;
      position: relative;

      &--reverse {
        background-color: $bg-featured;
        color: $primary-dark;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $border-color;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    &-list {
      padding: 30px 24px 10px 24px;
      line-height: 28px;
      position: relative;
      &-item {
        text-transform: uppercase;
        list-style: disc;

        &--bold {
          font-weight: bold;
          line-height: 32px;
        }

        &--underline {
          list-style: disc;
          padding: 7px 0;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $border-color;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__list-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__main {
  }
  &__makes-us {
  }
  &__our-services {
    margin: 32px 0;
  }
  &__service-description {
  }
  &__service-title {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-bottom: 26px;
  }
  &__text {
    font-size: 1rem;
    text-align: center;
    a {
      color: $primary-light;
      font-size: 1.375rem;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 1.625rem;
    margin-bottom: 8px;
  }
  &-makes-us {
    &__description {
      text-align: center;
    }
    &__icon {
      width: 42px;
      height: 42px;
    }
    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 1px solid $bg-featured;
      border-radius: 8px;
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin-inline: auto;
      width: fit-content;
      width: 56px;
      height: 56px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-bottom: 32px;
    }
    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 12px 16px 12px;
      background-color: $bg-featured;
      border-radius: 8px;
      position: relative;
    }
    &__subheading {
      font-weight: bold;
      font-size: 1.125rem;
      margin-bottom: 10px;
    }
    &__title {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 48px;
    }
  }
  &-why-choose {
    &__card {
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid $bg-featured;
    }
    &__card-container {
    }
    &__card-description {
    }
    &__card-header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    &__card-icon {
    }
    &__card-title {
      font-weight: bold;
      font-size: 1.125rem;
      margin-left: 8px;
      color: $primary-light;
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &__title {
      font-size: 1.375rem;
      font-weight: bold;
      margin-bottom: 16px;
    }
    &__wrapper {
    }
  }
}

@media (max-width: 1280px) {
  .header {
    &__wrapper {
      padding: 13px 8px;
    }
    &__contact {
      display: none;
    }
  }
  .hero {
    &__button {
      display: flex;
    }
  }
  .content {
    padding: 0 10px;
  }
  .why-choose__wrapper {
    margin-right: 8px;
  }
  .brands {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__nav {
      display: none;
      &--menu {
        display: block;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 42px;
      }
      &-link {
        font-size: 1rem;
      }
    }
    &__burger {
      display: flex;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    &__main {
      padding: 0;
    }
    &__sidebar {
      display: none;
    }
  }
  .contact {
    &__wrapper {
      flex-direction: column;
      gap: 32px;
    }
    &__info {
      max-width: 100%;
    }
    &__form {
      max-width: 100%;
    }
  }
  .why-choose__wrapper {
    max-width: 70%;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 140px;
    &__wrapper {
      flex-direction: column;
    }
    &__container {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      gap: 40px;
    }
    &__link {
      margin-left: 0;
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__logo-image {
      height: 40px;
    }
    &__wrapper {
      padding: 11px 16px 16px 16px;
    }
  }
  .content {
    display: none;
    &--article {
      display: flex;
    }
  }
  .hero {
    max-width: 100vw;
    margin: 0;
    &__wrapper {
      margin: 0;
    }
    &__container {
      display: none;
      gap: 16px;
      padding: 0 16px;
      margin-top: 0;
      &--mobile {
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &__image {
      display: none;
      &--mobile {
        display: flex;
        object-fit: cover;
        height: 536px;
      }
    }
    &__card-subtitle {
      line-height: 2rem;
    }
    &__card-text {
      font-size: 1rem;
    }
    &__card-image {
      width: auto;
      height: 160px;
      margin: 0;
      border-radius: 8px;
    }
    &__card-description {
      align-items: start;
    }
    &__card-description {
      justify-content: space-between;
    }
    &__card-button {
      padding: 15px;
      img {
        width: 25px;
      }
    }
  }
  .brands {
    margin: 32px 0;
    max-width: 100vw;
    &__wrapper {
      gap: 8px;
      flex-wrap: nowrap;
      box-sizing: border-box;
      padding: 0 16px;
      justify-content: flex-start;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .why-choose {
    &__wrapper {
      max-width: 100%;
    }
    &__image-wrapper {
      margin-top: 16px;
      width: 100%;
    }
    &__card-title {
      font-size: 1.375rem;
    }
  }
  .our-services {
    &__list {
      gap: 24px;
    }
    &__service-title {
      font-size: 1.375rem;
    }
  }
  .content__why-choose {
    flex-direction: column;
  }
  .makes-us {
    &__list {
      flex-direction: column;
      gap: 48px;
    }
    &__list-item {
      box-sizing: border-box;
      width: 100%;
    }
  }
  .article {
    &__title {
      text-align: center;
    }
    &__container {
      gap: 30px;
      flex-direction: column;
    }
    &__image {
      margin: 0 auto;
      width: auto;
      max-height: 300px;
    }
  }
  .mobile {
    display: block;
  }
  .contact {
    padding: 0 16px;
  }
}

@media (max-width: 640px) {
  .header {
    &__nav-list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .hero {
    &__banner {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100%;
      &-text {
        max-width: 275px;
        text-align: center;
      }
      &--mobile {
        display: flex;
      }
    }
  }

  .why-choose__container {
    display: flex;
    flex-direction: column;
  }
  .contact {
    margin-bottom: 32px;
    &__info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 16px 10px;
    }
    &__form-label {
      margin-bottom: 6px;
      width: 60%;
    }
    &__info-email {
      overflow-wrap: break-word;
      word-break: break-word;
    }
    &__form-button {
      margin: 0;
    }
  }
  .footer {
    text-align: center;
    padding: 24px 16px 140px 16px;
  }
  .footer__container {
    flex-direction: column;
  }
}
