@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
  line-height: normal;
  overflow-x: hidden;
}
body.menu-open {
  overflow: hidden;
}

.header__wrapper,
main,
.footer__wrapper {
  margin: auto;
  max-width: 1200px;
  flex: 1;
}

.hidden {
  display: none;
}

.button {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact-icon {
  height: 96px;
}
.header__contact-telephone {
  font-size: 1.75rem;
  color: #47754c;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo-image {
  height: 72px;
}
.header__logo-link {
  display: flex;
  align-items: center;
}
.header__nav-link {
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(72, 72, 72);
  transition: color 0.3s ease;
}
.header__nav-link:hover {
  color: #4e8154;
}
.header__nav-list {
  display: flex;
  gap: 18px;
}
.header__nav-logo {
  position: absolute;
  top: 200px;
  width: 200px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 13px 0;
}
.header__decorative-line {
  width: 100%;
  height: 12px;
  background-color: rgb(105, 164, 112);
}
.header__burger {
  display: none;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(105, 164, 112);
}
.header__menu {
  position: fixed;
  top: 0;
  left: -72%;
  width: 72%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: left 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  box-sizing: border-box;
}
.header__menu.active {
  left: 0;
}
.header__menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  z-index: 999;
}
.header__overlay.active {
  visibility: visible;
  opacity: 1;
}

.hero {
  margin-bottom: 50px;
}
.hero__wrapper {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}
.hero__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  padding: 0 6px 0 6px;
  gap: 10px;
}
.hero__container--mobile {
  display: none;
}
.hero__image {
  width: 100%;
  height: 285px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__image--mobile {
  display: none;
  height: 536px;
}
.hero__banner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.9;
  padding: 16px 32px;
  max-width: 475px;
  background-color: #4e8154;
}
.hero__banner-text {
  color: white;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.625rem;
}
.hero__banner--mobile {
  display: none;
}
.hero__button {
  max-width: 360px;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 24px 16px;
  color: white;
  background-color: #4e8154;
  font-size: 1.375rem;
  border-radius: 999px;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.hero__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__button-wrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
}
.hero__button-icon {
  width: 32px;
  height: 32px;
}
.hero__button.fixed {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 1000;
  animation: fade-in 0.3s ease-in-out;
}
.hero__button.hidden {
  display: none;
}
.hero__card {
  display: flex;
  flex-direction: column;
}
.hero__card-button {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  cursor: pointer;
}
.hero__card-button img {
  width: 20px;
}
.hero__card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero__card-description {
  display: flex;
  align-items: end;
  height: 100%;
}
.hero__card-image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 16px;
}
.hero__card-subtitle {
  text-transform: uppercase;
  color: #4e8154;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}
.hero__card-text {
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.hero__card-link {
  text-decoration: none;
  color: #5c5c5c;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.content {
  display: flex;
  margin-bottom: 85px;
  scroll-margin-top: 180px;
}
.content__link {
  color: #4e8154;
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-word;
  display: inline;
  max-width: 100%;
}
.content strong {
  font-weight: bold;
}
.content__main {
  flex: 3;
  padding-right: 50px;
}
.content__list {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 8px;
}
.content__list--numbered {
  list-style: decimal;
}
.content__list-item ul {
  list-style: disc;
}
.content__list-item--circle {
  margin: 4px 0 6px 40px;
  list-style-type: circle;
}
.content__subheading {
  line-height: 36px;
  font-weight: bold;
  scroll-margin-top: 180px;
}
.content__subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #47754c;
}
.content__text {
  margin-bottom: 12px;
}
.content__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 21px 0;
}
.content__why-choose {
  display: flex;
  width: 100%;
  margin: 40px 0 40px 0;
}
.content__our-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  scroll-margin-top: 180px;
}
.content__contact-telephone {
  font-size: 1.75rem;
  color: #47754c;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 16px 0;
}
.content__makes-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}
.content__sidebar {
  flex: 1;
}
.content__sidebar-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.content__sidebar-features,
.content__sidebar-services {
  background-color: #fdfdfd;
}
.content__sidebar-services {
  position: relative;
  margin-bottom: 30px;
}
.content__sidebar-services::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content__sidebar-heading {
  background-color: #4e8154;
  color: #fff;
  padding: 14px 22px 10px 22px;
  text-transform: uppercase;
  font-size: 1.25rem;
  position: relative;
}
.content__sidebar-heading--reverse {
  background-color: #f4f4f4;
  color: #47754c;
}
.content__sidebar-heading--reverse::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content__sidebar-list {
  padding: 30px 22px 26px 22px;
  line-height: 28px;
}
.content__sidebar-list-item {
  text-transform: uppercase;
  list-style: disc;
}
.content__sidebar-list-item--bold {
  font-weight: bold;
  line-height: 32px;
}
.content__sidebar-list-item--underline {
  list-style: disc;
  padding: 7px 0;
  position: relative;
}
.content__sidebar-list-item--underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}

.why-choose__card {
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why-choose__card-container {
  padding: 8px 12px;
}
.why-choose__card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.why-choose__card-icon {
  width: 32px;
  height: 32px;
}
.why-choose__card-title {
  color: #4e8154;
  font-weight: bold;
  font-size: 1.125rem;
}
.why-choose__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 18px;
}
.why-choose__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f4f4f4;
  margin: 0 auto;
  border-radius: 8px;
}
.why-choose__image {
  max-height: 312px;
  width: auto;
}
.why-choose__title {
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 24px;
}
.why-choose__wrapper {
  max-width: 578px;
}

.our-services__icon {
  width: 42px;
  height: 42px;
}
.our-services__icon-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
}
.our-services__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.our-services__list-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.our-services__service-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 8px;
}
.our-services__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.makes-us__description {
  text-align: center;
}
.makes-us__icon {
  width: 42px;
  height: 42px;
}
.makes-us__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  width: 56px;
  height: 56px;
}
.makes-us__list {
  display: flex;
  gap: 16px;
}
.makes-us__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 12px 16px 12px;
  width: 25%;
  background-color: #f4f4f4;
  border-radius: 8px;
  position: relative;
}
.makes-us__subheading {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.makes-us__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 48px;
}

.brands {
  display: flex;
  margin-bottom: 85px;
}
.brands__image {
  height: 50px;
}
.brands__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact {
  padding: 0 30px;
  width: 100%;
  margin-bottom: 120px;
  box-sizing: border-box;
  scroll-margin-top: 180px;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.contact__form {
  max-width: 630px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 25px;
  box-sizing: border-box;
}
.contact__form-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  color: #5c5c5c;
  margin-top: 18px;
  font-size: 1rem;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f8f8f8, #e2e2e2);
}
.contact__form-field {
  display: flex;
  margin-bottom: 12px;
}
.contact__form-input {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  height: 38px;
  width: 100%;
}
.contact__form-label {
  width: 25%;
}
.contact__form-textarea {
  width: 100%;
  padding: 5px 0 0 5px;
  border: 1px solid #e6e6e6;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contact__info {
  max-width: 410px;
  width: 100%;
  padding: 25px 45px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.contact__info-email {
  color: #4e8154;
  overflow-wrap: break-word;
  word-break: break-word;
  display: block;
}
.contact__info-label {
  margin-top: 18px;
}
.contact__info-phone {
  font-size: 1.75rem;
  font-weight: bold;
  color: #47754c;
  text-decoration: none;
}
.contact__info-text {
  margin-top: 38px;
}
.contact__info-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.contact__title {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  margin: 20px 0;
}
.contact__title-image {
  display: block;
  width: 48px;
  height: auto;
}
.contact__title-text {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0.7;
  color: #47754c;
}

.footer {
  width: 100%;
  background-color: #47754c;
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  padding: 24px 55px 70px 55px;
}
.footer__text {
  text-transform: uppercase;
}
.footer__link {
  color: #5c5c5c;
  margin-left: 20px;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
  color: white;
}
.footer__link::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: -1;
  pointer-events: none;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
}
.footer__decorative-line {
  width: 100%;
  height: 8px;
  background-color: rgb(105, 164, 112);
}
.footer__company {
  margin: 0 auto;
  display: flex;
  padding-top: 32px;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.article {
  padding: 0 16px;
  margin: 32px 0;
}
.article__container {
  display: flex;
  justify-content: space-between;
}
.article__image {
  width: 280px;
  margin-right: 90px;
  height: auto;
}
.article__text {
  font-size: 1.25rem;
}
.article__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4e8154;
  margin-bottom: 18px;
}

.mobile {
  display: none;
  padding: 32px 16px;
}
.mobile__icon {
  width: 42px;
  height: 42px;
}
.mobile__icon-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
}
.mobile__image {
  max-height: 312px;
  width: auto;
  background-color: #f4f4f4;
  border-radius: 8px;
}
.mobile__image-wrapper {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}
.mobile__sidebar {
  flex: 1;
}
.mobile__sidebar-image {
  margin-top: 30px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 300px;
}
.mobile__sidebar-features {
  position: relative;
  background-color: #fdfdfd;
  margin: 32px 0;
}
.mobile__sidebar-features::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobile__sidebar-services {
  background-color: #fdfdfd;
  margin-bottom: 32px;
}
.mobile__sidebar-heading {
  background-color: #4e8154;
  color: #fff;
  padding: 14px 22px 10px 22px;
  text-transform: uppercase;
  font-size: 1.25rem;
  position: relative;
}
.mobile__sidebar-heading--reverse {
  background-color: #f4f4f4;
  color: #47754c;
}
.mobile__sidebar-heading--reverse::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobile__sidebar-list {
  padding: 30px 24px 10px 24px;
  line-height: 28px;
  position: relative;
}
.mobile__sidebar-list-item {
  text-transform: uppercase;
  list-style: disc;
}
.mobile__sidebar-list-item--bold {
  font-weight: bold;
  line-height: 32px;
}
.mobile__sidebar-list-item--underline {
  list-style: disc;
  padding: 7px 0;
  position: relative;
}
.mobile__sidebar-list-item--underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobile__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile__list-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mobile__our-services {
  margin: 32px 0;
}
.mobile__service-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 8px;
}
.mobile__subtitle {
  margin-bottom: 26px;
}
.mobile__text {
  font-size: 1rem;
  text-align: center;
}
.mobile__text a {
  color: #4e8154;
  font-size: 1.375rem;
}
.mobile__title {
  font-weight: bold;
  font-size: 1.625rem;
  margin-bottom: 8px;
  scroll-margin-top: 110px;
}
.mobile-makes-us__description {
  text-align: center;
}
.mobile-makes-us__icon {
  width: 42px;
  height: 42px;
}
.mobile-makes-us__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  width: 56px;
  height: 56px;
}
.mobile-makes-us__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 32px;
}
.mobile-makes-us__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 12px 16px 12px;
  background-color: #f4f4f4;
  border-radius: 8px;
  position: relative;
}
.mobile-makes-us__subheading {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.mobile-makes-us__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 48px;
}
.mobile-why-choose__card {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #f4f4f4;
}
.mobile-why-choose__card-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.mobile-why-choose__card-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-left: 8px;
  color: #4e8154;
}
.mobile-why-choose__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.mobile-why-choose__title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  .header__wrapper {
    padding: 13px 8px;
  }
  .header__contact {
    display: none;
  }
  .hero__button {
    display: flex;
  }
  .content {
    padding: 0 10px;
  }
  .why-choose__wrapper {
    margin-right: 8px;
  }
  .brands__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
  .header__nav--menu {
    display: block;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
  .header__nav-link {
    font-size: 1.375rem;
  }
  .header__burger {
    display: flex;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content__main {
    padding: 0;
  }
  .content__sidebar {
    display: none;
  }
  .contact__wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .contact__info {
    max-width: 100%;
  }
  .contact__form {
    max-width: 100%;
  }
  .why-choose__wrapper {
    max-width: 70%;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 140px;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 40px;
  }
  .footer__link {
    margin-left: 0;
  }
  .footer__link::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__logo-image {
    height: 40px;
  }
  .header__wrapper {
    padding: 11px 16px 16px 16px;
  }
  .content {
    display: none;
  }
  .content--article {
    display: flex;
  }
  .hero {
    max-width: 100vw;
    margin: 0;
  }
  .hero__wrapper {
    margin: 0;
  }
  .hero__container {
    display: none;
    gap: 16px;
    padding: 0 16px;
    margin-top: 0;
  }
  .hero__container--mobile {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hero__container--mobile::-webkit-scrollbar {
    display: none;
  }
  .hero__image {
    display: none;
  }
  .hero__image--mobile {
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    height: 536px;
  }
  .hero__card-subtitle {
    line-height: 2rem;
  }
  .hero__card-text {
    font-size: 1rem;
  }
  .hero__card-image {
    width: auto;
    height: 160px;
    margin: 0;
    border-radius: 8px;
  }
  .hero__card-description {
    align-items: start;
  }
  .hero__card-description {
    justify-content: space-between;
  }
  .hero__card-button {
    padding: 15px;
  }
  .hero__card-button img {
    width: 25px;
  }
  .brands {
    margin: 32px 0;
    max-width: 100vw;
  }
  .brands__wrapper {
    gap: 8px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0 16px;
    justify-content: flex-start;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .brands__wrapper::-webkit-scrollbar {
    display: none;
  }
  .why-choose__wrapper {
    max-width: 100%;
  }
  .why-choose__image-wrapper {
    margin-top: 16px;
    width: 100%;
  }
  .why-choose__card-title {
    font-size: 1.375rem;
  }
  .our-services__list {
    gap: 24px;
  }
  .our-services__service-title {
    font-size: 1.375rem;
  }
  .content__why-choose {
    flex-direction: column;
  }
  .makes-us__list {
    flex-direction: column;
    gap: 48px;
  }
  .makes-us__list-item {
    box-sizing: border-box;
    width: 100%;
  }
  .article__title {
    text-align: center;
  }
  .article__container {
    gap: 30px;
    flex-direction: column;
  }
  .article__image {
    margin: 0 auto;
    width: auto;
    max-height: 300px;
  }
  .mobile {
    display: block;
  }
  .contact {
    padding: 0 16px;
  }
}
@media (max-width: 640px) {
  .header__nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__banner {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .hero__banner-text {
    max-width: 275px;
    text-align: center;
  }
  .hero__banner--mobile {
    display: flex;
  }
  .why-choose__container {
    display: flex;
    flex-direction: column;
  }
  .contact {
    margin-bottom: 32px;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px 10px;
  }
  .contact__form-label {
    margin-bottom: 6px;
    width: 60%;
  }
  .contact__info-email {
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .contact__form-button {
    margin: 0;
  }
  .footer {
    text-align: center;
    padding: 24px 16px 140px 16px;
  }
  .footer__container {
    flex-direction: column;
  }
} /*# sourceMappingURL=global.css.map */
